# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 1.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=0ba2849e242ba97e5bdf148b8d9e037623b6ea6410c9ede75d60e1c8a21129ab
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [2]:
import pyspark.sql.functions as F
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType, FloatType
from pyspark.sql.functions import expr, col, mean, when, sum, count, desc, min, max
spark = SparkSession.builder.master("local[*]").getOrCreate()

### Step 2. Create 3 differents Series, each of length 100, as follows:
1. The first a random number from 1 to 4
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [17]:
df = spark.range(100)

# Create three different DataFrames each with a single column of random numbers
df1 = df.select((F.rand() * 3 + 1).cast("int").alias("random_numbers_1_to_4"), "id")
df2 = df.select((F.rand() * 2 + 1).cast("int").alias("random_numbers_1_to_3"), "id")
df3 = df.select((F.rand() * 20000 + 10000).cast("int").alias("random_numbers_10000_to_30000"), "id")

In [18]:
df1.show()
df2.show()
df3.show()

+---------------------+---+
|random_numbers_1_to_4| id|
+---------------------+---+
|                    2|  0|
|                    2|  1|
|                    1|  2|
|                    3|  3|
|                    1|  4|
|                    1|  5|
|                    3|  6|
|                    3|  7|
|                    3|  8|
|                    3|  9|
|                    3| 10|
|                    2| 11|
|                    3| 12|
|                    1| 13|
|                    3| 14|
|                    1| 15|
|                    1| 16|
|                    3| 17|
|                    3| 18|
|                    1| 19|
+---------------------+---+
only showing top 20 rows

+---------------------+---+
|random_numbers_1_to_3| id|
+---------------------+---+
|                    1|  0|
|                    1|  1|
|                    1|  2|
|                    2|  3|
|                    1|  4|
|                    1|  5|
|                    1|  6|
|                    1|  7|
|                    1|  8|
|                    2|  9|
|                    2| 10|
|                    1| 11|
|                    2| 12|
|                    2| 13|
|                    2| 14|
|                    1| 15|
|                    1| 16|
|                    1| 17|
|                    1| 18|
|                    1| 19|
+---------------------+---+
only showing top 20 rows

+-----------------------------+---+
|random_numbers_10000_to_30000| id|
+-----------------------------+---+
|                        17840|  0|
|                        13377|  1|
|                        11016|  2|
|                        17674|  3|
|                        11791|  4|
|                        25457|  5|
|                        22851|  6|
|                        14036|  7|
|                        27640|  8|
|                        24094|  9|
|                        29002| 10|
|                        28368| 11|
|                        23393| 12|
|                        15141| 13|
|                        28353| 14|
|                        11688| 15|
|                        22502| 16|
|                        13117| 17|
|                        24894| 18|
|                        10046| 19|
+-----------------------------+---+
only showing top 20 rows

### Step 3. Let's create a DataFrame by joinning the Series by column

In [19]:
# Merge the DataFrames on the id column
merged_df = df1.join(df2, "id").join(df3, "id")

# Drop the id column
merged_df = merged_df.drop("id")

# Show the merged DataFrame
merged_df.show()

+---------------------+---------------------+-----------------------------+
|random_numbers_1_to_4|random_numbers_1_to_3|random_numbers_10000_to_30000|
+---------------------+---------------------+-----------------------------+
|                    2|                    1|                        17840|
|                    2|                    1|                        13377|
|                    1|                    1|                        11016|
|                    3|                    2|                        17674|
|                    1|                    1|                        11791|
|                    1|                    1|                        25457|
|                    3|                    1|                        22851|
|                    3|                    1|                        14036|
|                    3|                    1|                        27640|
|                    3|                    2|                        24094|
|                    3|                    2|                        29002|
|                    2|                    1|                        28368|
|                    3|                    2|                        23393|
|                    1|                    2|                        15141|
|                    3|                    2|                        28353|
|                    1|                    1|                        11688|
|                    1|                    1|                        22502|
|                    3|                    1|                        13117|
|                    3|                    1|                        24894|
|                    1|                    1|                        10046|
+---------------------+---------------------+-----------------------------+
only showing top 20 rows

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [22]:
merged_df = merged_df.withColumnRenamed("random_numbers_1_to_4", "bedrs").withColumnRenamed("random_numbers_1_to_3", "bathrs").withColumnRenamed("random_numbers_10000_to_30000", "price_sqr_meter")

In [23]:
merged_df.show()

+-----+------+---------------+
|bedrs|bathrs|price_sqr_meter|
+-----+------+---------------+
|    2|     1|          17840|
|    2|     1|          13377|
|    1|     1|          11016|
|    3|     2|          17674|
|    1|     1|          11791|
|    1|     1|          25457|
|    3|     1|          22851|
|    3|     1|          14036|
|    3|     1|          27640|
|    3|     2|          24094|
|    3|     2|          29002|
|    2|     1|          28368|
|    3|     2|          23393|
|    1|     2|          15141|
|    3|     2|          28353|
|    1|     1|          11688|
|    1|     1|          22502|
|    3|     1|          13117|
|    3|     1|          24894|
|    1|     1|          10046|
+-----+------+---------------+
only showing top 20 rows

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [28]:
big = df1.union(df2).union(df3)
big.show(300)

+---------------------+---+
|random_numbers_1_to_4| id|
+---------------------+---+
|                    2|  0|
|                    2|  1|
|                    1|  2|
|                    3|  3|
|                    1|  4|
|                    1|  5|
|                    3|  6|
|                    3|  7|
|                    3|  8|
|                    3|  9|
|                    3| 10|
|                    2| 11|
|                    3| 12|
|                    1| 13|
|                    3| 14|
|                    1| 15|
|                    1| 16|
|                    3| 17|
|                    3| 18|
|                    1| 19|
|                    2| 20|
|                    2| 21|
|                    1| 22|
|                    1| 23|
|                    1| 24|
|                    3| 25|
|                    3| 26|
|                    1| 27|
|                    3| 28|
|                    3| 29|
|                    2| 30|
|                    3| 31|
|                    1| 32|
|                    3| 33|
|                    2| 34|
|                    3| 35|
|                    1| 36|
|                    1| 37|
|                    3| 38|
|                    1| 39|
|                    3| 40|
|                    3| 41|
|                    1| 42|
|                    2| 43|
|                    3| 44|
|                    2| 45|
|                    1| 46|
|                    1| 47|
|                    2| 48|
|                    1| 49|
|                    3| 50|
|                    3| 51|
|                    2| 52|
|                    1| 53|
|                    3| 54|
|                    3| 55|
|                    2| 56|
|                    2| 57|
|                    1| 58|
|                    1| 59|
|                    3| 60|
|                    1| 61|
|                    2| 62|
|                    1| 63|
|                    3| 64|
|                    2| 65|
|                    2| 66|
|                    1| 67|
|                    1| 68|
|                    3| 69|
|                    1| 70|
|                    1| 71|
|                    3| 72|
|                    3| 73|
|                    2| 74|
|                    3| 75|
|                    3| 76|
|                    3| 77|
|                    2| 78|
|                    1| 79|
|                    3| 80|
|                    2| 81|
|                    1| 82|
|                    1| 83|
|                    1| 84|
|                    1| 85|
|                    2| 86|
|                    3| 87|
|                    3| 88|
|                    1| 89|
|                    2| 90|
|                    1| 91|
|                    2| 92|
|                    1| 93|
|                    2| 94|
|                    3| 95|
|                    3| 96|
|                    3| 97|
|                    2| 98|
|                    3| 99|
|                    1|  0|
|                    1|  1|
|                    1|  2|
|                    2|  3|
|                    1|  4|
|                    1|  5|
|                    1|  6|
|                    1|  7|
|                    1|  8|
|                    2|  9|
|                    2| 10|
|                    1| 11|
|                    2| 12|
|                    2| 13|
|                    2| 14|
|                    1| 15|
|                    1| 16|
|                    1| 17|
|                    1| 18|
|                    1| 19|
|                    1| 20|
|                    2| 21|
|                    1| 22|
|                    1| 23|
|                    1| 24|
|                    1| 25|
|                    2| 26|
|                    1| 27|
|                    2| 28|
|                    1| 29|
|                    1| 30|
|                    2| 31|
|                    1| 32|
|                    2| 33|
|                    1| 34|
|                    2| 35|
|                    2| 36|
|                    1| 37|
|                    1| 38|
|                    1| 39|
|                    1| 40|
|                    2| 41|
|                    1| 42|
|                    2| 43|
|                    1| 44|
|                    1| 45|
|                    2| 46|
|                    2| 47|
|                    1| 48|
|                    2| 49|
|                    2| 50|
|                    2| 51|
|                    2| 52|
|                    1| 53|
|                    1| 54|
|                    2| 55|
|                    2| 56|
|                    1| 57|
|                    2| 58|
|                    2| 59|
|                    2| 60|
|                    2| 61|
|                    2| 62|
|                    2| 63|
|                    1| 64|
|                    2| 65|
|                    2| 66|
|                    2| 67|
|                    2| 68|
|                    2| 69|
|                    1| 70|
|                    2| 71|
|                    2| 72|
|                    1| 73|
|                    2| 74|
|                    2| 75|
|                    2| 76|
|                    2| 77|
|                    2| 78|
|                    1| 79|
|                    1| 80|
|                    1| 81|
|                    2| 82|
|                    2| 83|
|                    2| 84|
|                    2| 85|
|                    1| 86|
|                    2| 87|
|                    1| 88|
|                    1| 89|
|                    1| 90|
|                    2| 91|
|                    1| 92|
|                    1| 93|
|                    1| 94|
|                    2| 95|
|                    1| 96|
|                    2| 97|
|                    1| 98|
|                    2| 99|
|                17840|  0|
|                13377|  1|
|                11016|  2|
|                17674|  3|
|                11791|  4|
|                25457|  5|
|                22851|  6|
|                14036|  7|
|                27640|  8|
|                24094|  9|
|                29002| 10|
|                28368| 11|
|                23393| 12|
|                15141| 13|
|                28353| 14|
|                11688| 15|
|                22502| 16|
|                13117| 17|
|                24894| 18|
|                10046| 19|
|                14613| 20|
|                27618| 21|
|                14555| 22|
|                13285| 23|
|                16121| 24|
|                10023| 25|
|                13808| 26|
|                28965| 27|
|                29391| 28|
|                23872| 29|
|                18953| 30|
|                11338| 31|
|                17291| 32|
|                12510| 33|
|                24098| 34|
|                19851| 35|
|                22182| 36|
|                22030| 37|
|                17286| 38|
|                24562| 39|
|                20196| 40|
|                29639| 41|
|                17139| 42|
|                13828| 43|
|                19119| 44|
|                15686| 45|
|                20573| 46|
|                13294| 47|
|                17224| 48|
|                11614| 49|
|                11559| 50|
|                12648| 51|
|                27781| 52|
|                26106| 53|
|                20373| 54|
|                12846| 55|
|                21720| 56|
|                20498| 57|
|                14562| 58|
|                23474| 59|
|                13296| 60|
|                16943| 61|
|                22544| 62|
|                28287| 63|
|                28774| 64|
|                21986| 65|
|                27362| 66|
|                27336| 67|
|                18032| 68|
|                12887| 69|
|                29057| 70|
|                11025| 71|
|                24329| 72|
|                20599| 73|
|                14975| 74|
|                17752| 75|
|                24328| 76|
|                23493| 77|
|                20486| 78|
|                19725| 79|
|                21345| 80|
|                17960| 81|
|                12269| 82|
|                17090| 83|
|                15870| 84|
|                16479| 85|
|                13994| 86|
|                21935| 87|
|                15996| 88|
|                10447| 89|
|                22828| 90|
|                17775| 91|
|                26206| 92|
|                22005| 93|
|                18366| 94|
|                27130| 95|
|                24646| 96|
|                12003| 97|
|                17581| 98|
|                22278| 99|
+---------------------+---+

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [ ]:
# NO! :)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [30]:
big = big.coalesce(1)

In [31]:
big.show()

+---------------------+---+
|random_numbers_1_to_4| id|
+---------------------+---+
|                    2|  0|
|                    2|  1|
|                    1|  2|
|                    3|  3|
|                    1|  4|
|                    1|  5|
|                    3|  6|
|                    3|  7|
|                    3|  8|
|                    3|  9|
|                    3| 10|
|                    2| 11|
|                    3| 12|
|                    1| 13|
|                    3| 14|
|                    1| 15|
|                    1| 16|
|                    3| 17|
|                    3| 18|
|                    1| 19|
+---------------------+---+
only showing top 20 rows

In [32]:
big = big.withColumn("id", F.monotonically_increasing_id())
big.show(300)

+---------------------+---+
|random_numbers_1_to_4| id|
+---------------------+---+
|                    2|  0|
|                    2|  1|
|                    1|  2|
|                    3|  3|
|                    1|  4|
|                    1|  5|
|                    3|  6|
|                    3|  7|
|                    3|  8|
|                    3|  9|
|                    3| 10|
|                    2| 11|
|                    3| 12|
|                    1| 13|
|                    3| 14|
|                    1| 15|
|                    1| 16|
|                    3| 17|
|                    3| 18|
|                    1| 19|
|                    2| 20|
|                    2| 21|
|                    1| 22|
|                    1| 23|
|                    1| 24|
|                    3| 25|
|                    3| 26|
|                    1| 27|
|                    3| 28|
|                    3| 29|
|                    2| 30|
|                    3| 31|
|                    1| 32|
|                    3| 33|
|                    2| 34|
|                    3| 35|
|                    1| 36|
|                    1| 37|
|                    3| 38|
|                    1| 39|
|                    3| 40|
|                    3| 41|
|                    1| 42|
|                    2| 43|
|                    3| 44|
|                    2| 45|
|                    1| 46|
|                    1| 47|
|                    2| 48|
|                    1| 49|
|                    3| 50|
|                    3| 51|
|                    2| 52|
|                    1| 53|
|                    3| 54|
|                    3| 55|
|                    2| 56|
|                    2| 57|
|                    1| 58|
|                    1| 59|
|                    3| 60|
|                    1| 61|
|                    2| 62|
|                    1| 63|
|                    3| 64|
|                    2| 65|
|                    2| 66|
|                    1| 67|
|                    1| 68|
|                    3| 69|
|                    1| 70|
|                    1| 71|
|                    3| 72|
|                    3| 73|
|                    2| 74|
|                    3| 75|
|                    3| 76|
|                    3| 77|
|                    2| 78|
|                    1| 79|
|                    3| 80|
|                    2| 81|
|                    1| 82|
|                    1| 83|
|                    1| 84|
|                    1| 85|
|                    2| 86|
|                    3| 87|
|                    3| 88|
|                    1| 89|
|                    2| 90|
|                    1| 91|
|                    2| 92|
|                    1| 93|
|                    2| 94|
|                    3| 95|
|                    3| 96|
|                    3| 97|
|                    2| 98|
|                    3| 99|
|                    1|100|
|                    1|101|
|                    1|102|
|                    2|103|
|                    1|104|
|                    1|105|
|                    1|106|
|                    1|107|
|                    1|108|
|                    2|109|
|                    2|110|
|                    1|111|
|                    2|112|
|                    2|113|
|                    2|114|
|                    1|115|
|                    1|116|
|                    1|117|
|                    1|118|
|                    1|119|
|                    1|120|
|                    2|121|
|                    1|122|
|                    1|123|
|                    1|124|
|                    1|125|
|                    2|126|
|                    1|127|
|                    2|128|
|                    1|129|
|                    1|130|
|                    2|131|
|                    1|132|
|                    2|133|
|                    1|134|
|                    2|135|
|                    2|136|
|                    1|137|
|                    1|138|
|                    1|139|
|                    1|140|
|                    2|141|
|                    1|142|
|                    2|143|
|                    1|144|
|                    1|145|
|                    2|146|
|                    2|147|
|                    1|148|
|                    2|149|
|                    2|150|
|                    2|151|
|                    2|152|
|                    1|153|
|                    1|154|
|                    2|155|
|                    2|156|
|                    1|157|
|                    2|158|
|                    2|159|
|                    2|160|
|                    2|161|
|                    2|162|
|                    2|163|
|                    1|164|
|                    2|165|
|                    2|166|
|                    2|167|
|                    2|168|
|                    2|169|
|                    1|170|
|                    2|171|
|                    2|172|
|                    1|173|
|                    2|174|
|                    2|175|
|                    2|176|
|                    2|177|
|                    2|178|
|                    1|179|
|                    1|180|
|                    1|181|
|                    2|182|
|                    2|183|
|                    2|184|
|                    2|185|
|                    1|186|
|                    2|187|
|                    1|188|
|                    1|189|
|                    1|190|
|                    2|191|
|                    1|192|
|                    1|193|
|                    1|194|
|                    2|195|
|                    1|196|
|                    2|197|
|                    1|198|
|                    2|199|
|                17840|200|
|                13377|201|
|                11016|202|
|                17674|203|
|                11791|204|
|                25457|205|
|                22851|206|
|                14036|207|
|                27640|208|
|                24094|209|
|                29002|210|
|                28368|211|
|                23393|212|
|                15141|213|
|                28353|214|
|                11688|215|
|                22502|216|
|                13117|217|
|                24894|218|
|                10046|219|
|                14613|220|
|                27618|221|
|                14555|222|
|                13285|223|
|                16121|224|
|                10023|225|
|                13808|226|
|                28965|227|
|                29391|228|
|                23872|229|
|                18953|230|
|                11338|231|
|                17291|232|
|                12510|233|
|                24098|234|
|                19851|235|
|                22182|236|
|                22030|237|
|                17286|238|
|                24562|239|
|                20196|240|
|                29639|241|
|                17139|242|
|                13828|243|
|                19119|244|
|                15686|245|
|                20573|246|
|                13294|247|
|                17224|248|
|                11614|249|
|                11559|250|
|                12648|251|
|                27781|252|
|                26106|253|
|                20373|254|
|                12846|255|
|                21720|256|
|                20498|257|
|                14562|258|
|                23474|259|
|                13296|260|
|                16943|261|
|                22544|262|
|                28287|263|
|                28774|264|
|                21986|265|
|                27362|266|
|                27336|267|
|                18032|268|
|                12887|269|
|                29057|270|
|                11025|271|
|                24329|272|
|                20599|273|
|                14975|274|
|                17752|275|
|                24328|276|
|                23493|277|
|                20486|278|
|                19725|279|
|                21345|280|
|                17960|281|
|                12269|282|
|                17090|283|
|                15870|284|
|                16479|285|
|                13994|286|
|                21935|287|
|                15996|288|
|                10447|289|
|                22828|290|
|                17775|291|
|                26206|292|
|                22005|293|
|                18366|294|
|                27130|295|
|                24646|296|
|                12003|297|
|                17581|298|
|                22278|299|
+---------------------+---+